body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  .emoji {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.00);
    border: 1px solid black;
    border-radius: 8px;
    padding: 2rem;
  }
  
  .emoji h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .emojis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 0 auto;
    padding: 3rem;
    max-width: 1000px;
  }


  .icon {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
  }

  .emoji a {
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.75rem 2rem;
    font-weight: bold;
    text-align: left;
    transition: background-color 0.3s ease;
   }
  
.siteheader {
    color: black;
    max-width: 1000px;
    margin: 1rem auto;
  }

   .emoji p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0;
    flex-grow: 1;
   }